@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;500;700;900&family=Noto+Sans:wght@300;500;700;900&display=swap');

$first-color: #8670b6;
$second-color: #82d0b9;
$text-color: #fff;
$fill-color: rgba(
  $color: $text-color,
  $alpha: 0.5,
);
$main-gradient: linear-gradient(115deg, $first-color, $second-color);
$second-gradient: linear-gradient(115deg, $second-color, $first-color);
$font-light: 300;
$font-normal: 500;
$font-bold: 700;
$filter-shadow: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.25));
$box-shadow: 0px 1px 8px
  rgba(
    $color: #000,
    $alpha: 0.25,
  );
$match-shadow: 0px 0px 10px
  rgba(
    $color: #fb0,
    $alpha: 1,
  );

body {
  box-sizing: border-box;
  font-family: Arial, 'Noto Sans', 'Noto Sans TC', sans-serif;
  background-image: $main-gradient;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;

  &::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-image: url(data:image/svg+xml;base64,CiAgPHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHhtbG5zOnhsaW5rPSdodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rJyB3aWR0aD0nNjUnIGhlaWdodD0nMTA0JyB2aWV3Qm94PScwIDAgMTAgMTYnPgogICAgPGcgaWQ9J2MnPgogICAgICA8cGF0aCBmaWxsPScjZGNkY2RjJyBkPSdNMCAwbDUgM3Y1bC01IC0zeicvPgogIAkJPHBhdGggZmlsbD0nI2YzZjNmMycgZD0nTTEwIDBsLTUgM3Y1bDUgLTMnLz4KICAJPC9nPgogIAk8dXNlIHg9JzUnIHk9JzgnIHhsaW5rOmhyZWY9JyNjJyAvPgogIAk8dXNlIHg9Jy01JyB5PSc4JyB4bGluazpocmVmPScjYycgLz4KICA8L3N2Zz4KICA=);
    background-attachment: fixed;
    z-index: -1;
    opacity: 0.1;
  }
}

.container {
  width: 88%;
  min-width: 300px;
  height: 100vh;
  min-height: 300px;
  margin: auto;
  gap: 0.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  // background-color: red;
  width: 100%;
  color: $text-color;
  text-align: center;
  padding-top: 3em;
  text-transform: uppercase;

  h1 {
    font-size: 3em;
    font-weight: $font-bold;
  }

  small {
    font-size: 1em;
    display: block;
    padding-bottom: 0.5em;
    font-weight: $font-normal;
    border-bottom: 2px solid $text-color;
  }
}
.time {
  // background-color: yellow;
  width: 100%;
  padding: 1em 0;
  text-transform: uppercase;
  color: $text-color;
  font-weight: $font-normal;
  font-size: 1.125em;
}
.wrap {
  background-color: $fill-color;
  border-radius: 20px;
  box-shadow: $box-shadow;
  min-height: 500px;
  width: 100%;
  color: $text-color;
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: space-evenly;
}
.card {
  position: relative;
  width: 30%;
  height: 20%;
  transform-style: preserve-3d;
  transition: transform ease-in-out 0.5s;
  box-shadow: $box-shadow;
  border-radius: 15px;
  background-repeat: no-repeat;
  background-size: 70%;
  background-position: center;
  background-color: #fff;
  margin: 0 0.1em;

  .card-front {
    background-image: $second-gradient;
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 15px;
    outline: 2px solid $fill-color;
    outline-offset: -0.5em;
    backface-visibility: hidden;

    .front-star {
      background-image: url(../images/Star.svg);
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      position: absolute;
      width: 70%;
      height: 70%;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      margin: auto;
      backface-visibility: hidden;
      //絕對定位 + 上下左右為0 + margin auto 來置中
    }
  }

  .card-back {
    position: absolute;
    // background-color: $fill-color;
    // background-repeat: no-repeat;
    // background-size: 70%;
    // background-position: center;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    transform: rotateY(180deg);
    border-radius: 15px;
    outline: 2px solid #333;
    outline-offset: -0.5em;
  }
}

@media only screen and (min-device-width: 769px) {
  .card {
    width: 15%;
    height: 30%;
    background-size: 55%;
  }
}
.copyright {
  // background-color: green;
  width: 100%;
  color: $text-color;
  text-align: center;
  font-weight: $font-light;

  p {
    padding-top: 0.5em;
    border-top: 2px solid $text-color;
  }
}

.flip {
  transform: rotateY(180deg);
}

.match {
  animation: matchAnime 1s ease;
}

@keyframes matchAnime {
  25% {
    box-shadow: $match-shadow;
    transform: scale3d(1.05, 1.05, 1) rotateY(180deg);
  }
  75% {
    box-shadow: $match-shadow;
    transform: scale3d(1.05, 1.05, 1) rotateY(180deg);
  }
}

particle {
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  opacity: 0;
}

.isHen {
  background-image: url(../images/hen.png);
}
.isDolphin {
  background-image: url(../images/dolphin.png);
}
.isDucky {
  background-image: url(../images/ducky.png);
}
.isJellyfish {
  background-image: url(../images/jellyfish.png);
}
.isSnail {
  background-image: url(../images/snail.png);
}
.isToad {
  background-image: url(../images/toad.png);
}
