@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;500;700;900&family=Noto+Sans:wght@300;500;700;900&display=swap");
body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Arial, "Noto Sans", "Noto Sans TC", sans-serif;
  background-image: linear-gradient(115deg, #8670b6, #82d0b9);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
body::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-image: url(data:image/svg+xml;base64,CiAgPHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHhtbG5zOnhsaW5rPSdodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rJyB3aWR0aD0nNjUnIGhlaWdodD0nMTA0JyB2aWV3Qm94PScwIDAgMTAgMTYnPgogICAgPGcgaWQ9J2MnPgogICAgICA8cGF0aCBmaWxsPScjZGNkY2RjJyBkPSdNMCAwbDUgM3Y1bC01IC0zeicvPgogIAkJPHBhdGggZmlsbD0nI2YzZjNmMycgZD0nTTEwIDBsLTUgM3Y1bDUgLTMnLz4KICAJPC9nPgogIAk8dXNlIHg9JzUnIHk9JzgnIHhsaW5rOmhyZWY9JyNjJyAvPgogIAk8dXNlIHg9Jy01JyB5PSc4JyB4bGluazpocmVmPScjYycgLz4KICA8L3N2Zz4KICA=);
  background-attachment: fixed;
  z-index: -1;
  opacity: 0.1;
}

.container {
  width: 88%;
  min-width: 300px;
  height: 100vh;
  min-height: 300px;
  margin: auto;
  gap: 0.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.title {
  width: 100%;
  color: #fff;
  text-align: center;
  padding-top: 3em;
  text-transform: uppercase;
}
.title h1 {
  font-size: 3em;
  font-weight: 700;
}
.title small {
  font-size: 1em;
  display: block;
  padding-bottom: 0.5em;
  font-weight: 500;
  border-bottom: 2px solid #fff;
}

.time {
  width: 100%;
  padding: 1em 0;
  text-transform: uppercase;
  color: #fff;
  font-weight: 500;
  font-size: 1.125em;
}

.wrap {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  -webkit-box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.25);
  min-height: 500px;
  width: 100%;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-line-pack: space-evenly;
      align-content: space-evenly;
}

.card {
  position: relative;
  width: 30%;
  height: 20%;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition: -webkit-transform ease-in-out 0.5s;
  transition: -webkit-transform ease-in-out 0.5s;
  transition: transform ease-in-out 0.5s;
  transition: transform ease-in-out 0.5s, -webkit-transform ease-in-out 0.5s;
  -webkit-box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  background-repeat: no-repeat;
  background-size: 70%;
  background-position: center;
  background-color: #fff;
  margin: 0 0.1em;
}
.card .card-front {
  background-image: linear-gradient(115deg, #82d0b9, #8670b6);
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 15px;
  outline: 2px solid rgba(255, 255, 255, 0.5);
  outline-offset: -0.5em;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
.card .card-front .front-star {
  background-image: url(../images/Star.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  width: 70%;
  height: 70%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
.card .card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  border-radius: 15px;
  outline: 2px solid #333;
  outline-offset: -0.5em;
}

@media only screen and (min-device-width: 769px) {
  .card {
    width: 15%;
    height: 30%;
    background-size: 55%;
  }
}
.copyright {
  width: 100%;
  color: #fff;
  text-align: center;
  font-weight: 300;
}
.copyright p {
  padding-top: 0.5em;
  border-top: 2px solid #fff;
}

.flip {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.match {
  -webkit-animation: matchAnime 1s ease;
          animation: matchAnime 1s ease;
}

@-webkit-keyframes matchAnime {
  25% {
    -webkit-box-shadow: 0px 0px 10px #ffbb00;
            box-shadow: 0px 0px 10px #ffbb00;
    -webkit-transform: scale3d(1.05, 1.05, 1) rotateY(180deg);
            transform: scale3d(1.05, 1.05, 1) rotateY(180deg);
  }
  75% {
    -webkit-box-shadow: 0px 0px 10px #ffbb00;
            box-shadow: 0px 0px 10px #ffbb00;
    -webkit-transform: scale3d(1.05, 1.05, 1) rotateY(180deg);
            transform: scale3d(1.05, 1.05, 1) rotateY(180deg);
  }
}

@keyframes matchAnime {
  25% {
    -webkit-box-shadow: 0px 0px 10px #ffbb00;
            box-shadow: 0px 0px 10px #ffbb00;
    -webkit-transform: scale3d(1.05, 1.05, 1) rotateY(180deg);
            transform: scale3d(1.05, 1.05, 1) rotateY(180deg);
  }
  75% {
    -webkit-box-shadow: 0px 0px 10px #ffbb00;
            box-shadow: 0px 0px 10px #ffbb00;
    -webkit-transform: scale3d(1.05, 1.05, 1) rotateY(180deg);
            transform: scale3d(1.05, 1.05, 1) rotateY(180deg);
  }
}
particle {
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  opacity: 0;
}

.isHen {
  background-image: url(../images/hen.png);
}

.isDolphin {
  background-image: url(../images/dolphin.png);
}

.isDucky {
  background-image: url(../images/ducky.png);
}

.isJellyfish {
  background-image: url(../images/jellyfish.png);
}

.isSnail {
  background-image: url(../images/snail.png);
}

.isToad {
  background-image: url(../images/toad.png);
}